<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<head>
    <title>Person Information Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<br>
<div class="container">
    <div class="col-lg-10 col-md-8 col-sm-6 container justify-content-center card">
        <h3 class="text-center">Employee info</h3>
        <div class="card-body">
            <form action="/employee_portal/trainer_edit" modelAtribute="trainerDto"
                  method="post">
                <body th:each="trainer : ${trainers}" th:field="${trainer}">
                <div class="form-group">
                    <label>Employee Name</label><br>
                    <input type="text" name="employeeName" field="*{trainer.employeeName}" class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Employee DOB</label><br>
                    <input type="text" name="employeeDateOfBirth" field="${trainer.employeeDateOfBirth}"
                           class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Designation</label><br>
                    <input type="text" name="employeeDesignation" field="${trainer.employeeDesignation}"
                           class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Employee Mail</label><br>
                    <input type="text" name="employeeMail" field="${trainer.employeeMail}" class="form-control"/>
                </div>

                <div class="form-group">
                    <label>MobileNumber</label><br>
                    <input type="text" name="employeeMobileNumber" field="${trainer.employeeMobileNumber}"
                           class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Address</label><br>
                    <input type="text" name="currentAddress" field="${trainer.currentAddress}" class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Aadhaar number</label><br>
                    <input type="text" name="aadhaarCardNumber" field="${trainer.aadhaarCardNumber}"
                           class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Pan Number</label><br>
                    <input type="text" name="panCardNumber" field="${trainer.panCardNumber}" class="form-control"/>
                </div>
                </body>
                <br>
                <div class="box-footer">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-info">Reset</button>
                </div>
                <input type="hidden" id="trainerId" field="${trainer.trainerId}"/>
                <br>
            </form>
        </div>

    </div>
</div>
</body>
</html>